<div class="container">
    <h1 class="text-center text-primary mt-5">IMAGES</h1>
    <button (click)="addPage()" class="btn btn-success">Upload Images</button>
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
          <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
              <div  *ngFor="let i of image"  class="col mb-5">
                  <div class="card h-100">
                      <img class="card-img-top" style="height: 250px;" src="{{i.url}}" />
                      <div class="card-body p-4">
                          <div class="text-center">
                              <h4 class="fw-bolder">{{i.title}}</h4>
                          </div>
                      </div>
                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                          <div class="text-center"><a class="btn btn-outline-primary mt-auto" routerLink="single-view/{{i._id}}">View</a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </div>
