<div class="text-center m-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 container card mt-5" id="login">
                <form [formGroup]="registerForm">
                    <h1 class="text-success mt-3 mb-5">USER REGISTRATION</h1>
                    <div class="m-3">
                        <input formControlName="email" id="e1" name="e1" type="text" class="form-control mb-4" placeholder="Enter email id">
                        <input formControlName="psw" id="p1" name="p1" type="text" class="form-control mb-4" placeholder="Enter password">
                        <input formControlName="cpsw" id="p2" name="p2" type="text" class="form-control mb-4" placeholder="Confirm password">
                    </div> 
                    <button (click)="register()" class="btn btn-success mb-5">Sign Up</button>
                </form>
            </div>
        </div>

    </div>
</div>