<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img style="height: 500px;width: 100%;" class="card-img-top mb-5 mb-md-0" src={{pdata.url}}
                    alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{pdata.title}}</h1>
                <p class="lead mt-5">{{pdata.desc}}</p>
                <div class="d-flex">
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <a (click)="updatePage(pdata._id)" style="text-decoration: none;color:black;">
                           Update
                        </a>
                     </button>
                      <button class="btn btn-outline-dark flex-shrink-0 ms-3" type="button">
                        <a (click)="delete()" style="text-decoration: none;color: black;">
                           Delete
                        </a>
                     </button>
                </div>
            </div>
        </div>
    </div>
</section>